:root {
  --primary-color: #3593b8;
  --border-color: #b8b6bf;
  --focus-input: rgb(35, 194, 35);
  --bg-color: #f7f7f7;
  --btn-text-color: #fff;
  --btn-choose-file: #77767e;
  --check-border: #ffcbba;
  --error-text: #db1a1a;
}
